
<div class="page-header">

  <div class="row show-hide-message" ng-if="submitted">
    <div class="alert alert-success text-center">
      <button ng-click="submitClose();" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5>Thanks for you submission! It will appear on the site once it has been approved by a mod.</h5>
      <span>This is to prevent weird entries showing up on the site.</span>
    </div>
  </div>

  <h1 ng-click="code.generatePreview('c8db7628-eb3d-c345-7fab-5d12d8dd4803');">Welcome to Wootopia!</h1>
  <h4>Here you can find, manage and share profile codes for the <a href="https://wooting.nl" target="_blank">Wooting One</a> analog keyboard.</h4>
  <p>
    Here you can share cool profiles that you've made. <strong>Submitted codes will not show up on the websites until approved by a mod.</strong>
  </p>
  <p>
    This website is currently in an alpha stage. Therefore some basic funtionality is still missing. Such as a searchbar and the ability to edit your submitted profile codes.
    This is all coming in the near future though.
    <strong>For now, please use ctrl + f to search for a specific game.</strong>
  </p>
  <h6>
    Want to report a bug, request a feature or contribute? Contact me <a class="link" href="https://twitter.com/superschek" target="_blank">@superschek</a> or <a class="link" href="mailto:sander@wootingprofiles.com">sander@wootingprofiles.com</a>.
  </h6>
</div>

<div class="row-fluid">

  <div class="col-nopadding col-xs-12 col-sm-6">
    <div class="col-xs-12" ng-repeat="game in code.games | orderBy:'name'" ng-if="($odd && game.hasPublishedCode == true)">
      <div id="{{ game._id }}" class="code-card" style="background-color: #F1F1F1; border-radius: 2px; padding: 1px 8px;">
        <h4 class="game-name">{{ game.name }}</h4>
        <!-- <a href="/games/{{ game.igdb_id }}"><h4 class="game-name">{{ game.name }}</h4></a> -->
        <div class="code" ng-repeat="code in game.codes" ng-if="code.published == true">
          <p ng-if="code.notes" class="notes">{{ code.notes }}</p>
          <div class="clipboard-wrap">
            <div class="code" id="code-{{ code._id }}">{{ code.code }}</div>
            <button ngclipboard data-clipboard-target="#code-{{ code._id }}" class="clipboard-btn"><i class="fa fa-clipboard"></i></button>
          </div>
          <h6 class="code-date">Date added: <strong>{{ code.created_at | date:'shortDate' }}</strong></h6>

          <div ng-include="'app/views/partials/keyboard.html'"></div>
          <br ng-if="!$last" />

        </div>
      </div>
    </div>
  </div>

  <div class="col-nopadding col-xs-12 col-sm-6">
    <div class="col-xs-12" ng-repeat="game in code.games | orderBy:'name'" ng-if="($even && game.hasPublishedCode == true)">
      <div id="{{ game._id }}" class="code-card" style="background-color: #F1F1F1; border-radius: 2px; padding: 1px 8px;">
        <h4 class="game-name">{{ game.name }}</h4>
        <!-- <a href="/games/{{ game.igdb_id }}"><h4 class="game-name">{{ game.name }}</h4></a> -->
        <div class="code" ng-repeat="code in game.codes | orderBy:'created_at'" ng-if="code.published == true">
          <p ng-if="code.notes" class="notes">{{ code.notes }}</p>
          <div class="clipboard-wrap">
            <div class="code" id="code-{{ code._id }}">{{ code.code }}</div>
            <button ngclipboard data-clipboard-target="#code-{{ code._id }}" class="clipboard-btn"><i class="fa fa-clipboard"></i></button>
          </div>
          <h6 class="code-date">Date added: <strong>{{ code.created_at | date:'shortDate' }}</strong></h6>

          <div ng-include="'app/views/partials/keyboard.html'"></div>

        </div>
      </div>
    </div>
  </div>

</div>
