<div class="page-header">
  <h1 ng-click="code.testCode();">Submit Profile Code</h1>
</div>

<form name="gameForm" ng-submit="code.search(gameQuery.query);">
  <label>Game:</label>
  <div class="row">
    <div class="col-xs-11">
      <input class="form-control" type="text" name="gamequery" ng-model="gameQuery.query" placeholder="Find and select a game" required/>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>
</form>

<h5 ng-show=(code.selectedGame)>The code you submit will be for <strong>{{ code.selectedGame.name }}</strong>!</h5>


<ul id="queryResults" ng-show="(!code.selectedGame)" style="padding: 15px;">
  <li ng-repeat="game in code.queryResults" ng-show="game.details">
    <a ng-click="code.selectGame(game.details.id);" style="cursor: pointer;">
      <span>{{ game.details.name }}</span>
    </a>  
  </li>
</ul>

<div class="jumbotron text-center" ng-show="code.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="code.successMsg">
  <div class="alert alert-success">{{ code.successMsg }}</div>
</div>

</br>

<div class="row show-hide-message" ng-show="code.errMsg">
  <div class="alert alert-danger">{{ code.errMsg }}</div>
</div>

<form name="codeForm" ng-submit="code.submitCode(codeData, codeForm.$valid, main.userdata);" novalidate>
  <div ng-class="{'has-success':(codeForm.code.$valid && !codeForm.code.$pristine), 'has-error':(!codeForm.code.$valid && !codeForm.code.$pristine) || (!codeForm.code.$valid && codeForm.codesubmitted)}">
    <label>Code:</label>
    <input class="form-control" type="text" name="code" ng-model="code.codeData.code" placeholder="e.g. 3c147618-b46e-3b0c-6b4e-a4cefc86a9dc" minLength="36" maxLength="36" required/>
    <p class="help-block" ng-show="(!codeForm.code.$pristine && codeForm.code.$error.required) || (codeForm.subitted && codeForm.code.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!codeForm.code.$pristine && codeForm.code.$error.minLength)">
      <li>Must be exactly 36 characters long</li>
    </ul>
  </div>

  </br>
  <div>
    <label>Notes:</label>
    <textarea rows="5"  class="form-control" type="textarea" name="notes" ng-model="code.codeData.notes" placeholder="(Optional) Post instructions or game settings here." >
    </textarea>
  </div>

  <input type="text" ng-show="false" name="kb_model" ng-model="code.codeData.kb_model" />

  </br>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
