main {
  padding-top: 30px;
}

header .navbar {
  border-radius: 0;
}

.show-hide-message.ng-hide-remove {
  -webkit-animation: zoomIn 0.3s both ease;
  -moz-animation: zoomIn 0.3s both ease;
  animation: zoomIn 0.3s both ease;
}

.spinner {
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

.col-nopadding {
  padding: 0;
}

.code-card {
  margin-bottom: 30px;
}

.code-card .game-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.copied-byte {
  background-color: black;
  color: #fff;
  font-size: 10px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
}

.clipboard-wrap {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
.clipboard-wrap .code {
  width: 100%;
  padding: 3px 5px;
  background-color: #FFF;
  vertical-align: middle;
}
.clipboard-wrap button {
  position: absolute;
  right: 0;
  top: 0.5px;
}

.code-card .code-date { font-size: 11px; }

.code:not(:nth-of-type(1)) { padding-top: 5px; }
.copy-trigger:hover { cursor: pointer; }

.kbd-svg { width: 100%; }

@media (min-width: 768px) {
  .navbar-nav { width: 100%; }
  .navbar-nav.pull-right {
    float: none !important;
  }
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}
