
<div class="page-header">
  <h1>Codes for: {{ game.game.name }}</h1>
</div>

<img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ game.game.cover.cloudinary_id }}.jpg" />

<img src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/{{ game.game.screenshots[0].cloudinary_id }}.jpg" />


<div class="row-fluid">

  <div class="col-nopadding col-xs-12 col-sm-6">
    <div class="col-xs-12" ng-repeat="code in game.game.codes" ng-if="$odd && code.published == true">
      <div class="code-card" style="background-color: #F1F1F1; border-radius: 2px; padding: 1px 8px;">

        <div class="code">
          <p ng-if="code.notes" class="notes">{{ code.notes }}</p>
          <div class="clipboard-wrap">
            <div class="code" id="code-{{ code._id }}">{{ code.code }}</div>
            <button ngclipboard data-clipboard-target="#code-{{ code._id }}" class="clipboard-btn"><i class="fa fa-clipboard"></i></button>
          </div>
          <h6 class="code-date">Date added: <strong>{{ code.created_at | date:'shortDate' }}</strong></h6>
        </div>

      </div>
    </div>
  </div>

  <div class="col-nopadding col-xs-12 col-sm-6">
    <div class="col-xs-12" ng-repeat="code in game.game.codes" ng-if="$even && code.published == true">
      <div class="code-card" style="background-color: #F1F1F1; border-radius: 2px; padding: 1px 8px;">

        <div class="code">
          <p ng-if="code.notes" class="notes">{{ code.notes }}</p>
          <div class="clipboard-wrap">
            <div class="code" id="code-{{ code._id }}">{{ code.code }}</div>
            <button ngclipboard data-clipboard-target="#code-{{ code._id }}" class="clipboard-btn"><i class="fa fa-clipboard"></i></button>
          </div>
          <h6 class="code-date">Date added: <strong>{{ code.created_at | date:'shortDate' }}</strong></h6>
        </div>

      </div>
    </div>
  </div>

</div>
