<div class="page-header">
  <h1>{{ main.userdata.username }}'s Profile</h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

  <table class="table">
    <tr>
      <td><strong>Username</strong></td>
      <td><strong>Email adress</strong></td>
    </tr>
    <tr>
      <td>{{ main.userdata.username }}</td>
      <td>{{ main.userdata.email }}</td>
    </tr>
  </table>
</div>
