<div class="page-header">
  <h1>User Registration</h1>
</div>

<form name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
  <div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted)}">
    <label>Email:</label>
    <input class="form-control" type="email" name="email" placeholder="example@domain.com" ng-model="register.regData.email" ng-minLength="5" ng-maxLength="254" required/>
    <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.minLength) || (!regForm.email.$pristine && regForm.email.$error.maxLength)">
      <li>Must be between 5 and 254 characters</li>
    </ul>
  </div>
  </br>

  <div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted)}">
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="Username" ng-model="register.regData.username" ng-minLength="4" ng-maxLength="64" required/>
    <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.minLength) || (!regForm.username.$pristine && regForm.username.$error.maxLength)">
      <li>Must be between 4 and 64 characters</li>
    </ul>
  </div>
  </br>

  <div ng-class="{'has-success':(regForm.password.$valid && !regForm.password.$pristine), 'has-error':(!regForm.password.$valid && !regForm.password.$pristine) || (!regForm.password.$valid && regForm.$submitted)}">
    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Password" ng-model="register.regData.password" ng-minLength="8" ng-maxLength="254" required/>
    <p class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required</p>
    <ul class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.minLength) || (!regForm.password.$pristine && regForm.password.$error.maxLength)">
      <li>Must be between 8 and 254 characters</li>
    </ul>
  </div>
  </br>

  <button class="btn btn-primary" type="submit">Register</button>
</form>

</br>

<div class="jumbotron text-center" ng-show="register.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="register.successMsg">
  <div class="alert alert-success">{{ register.successMsg }}</div>
</div>

</br>

<div class="row show-hide-message" ng-show="register.errMsg">
  <div class="alert alert-danger">{{ register.errMsg }}</div>
</div>
